*{
    margin: 0;
    padding: 0;
}

#process1{
    width:90%;
    background-color: khaki;
}

#process2{
    width:10%;
    background-color: lemonchiffon;
    
}

#chart{
    margin: 10px;
    padding:10px;
    width:100%;
    background-color: lawngreen;
   
}

table{
    padding: 10px;
    background-color: lightcoral;
   
}

#numberOfPros{
    width:2.4em;
    
}