*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#process1{
    width:90%;
    background-color: khaki;
}

#process2{
    width:10%;
    background-color: lemonchiffon;
    
}

#chart{
    margin: 10px;
    padding:10px;
    width:100%;
    background-color: lawngreen;
   
}

table{
    padding: 5px;
    background-color: lightcoral;
    font-size:0.75em;
    
   
}
td{
    border:1px solid rgb(209, 209, 209);
    padding:6px;
}

#numberOfPros{
    width:2.4em;
    
}

#chartTable{
    width:100%;
    
}

#FCFStable{
    text-align:center;
    width:95%;
    margin-left:auto;
    margin-right: auto;
}

#chartInfoForm{
    margin:25px;
}

.processInputs{
    padding:5px;
    
}

input{
    margin-left:5px;
    margin-right:5px;
}

.timeInput{
    width:3em;
}

#chartValuesDiv{
    margin:25px;
}

#genButtons{
    margin:25px;
}